body {
  margin-left: 10px;
  margin-right:10px;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

table {
  border-spacing: 0px;
  margin-left: 10px; 
  margin-right: 10px;
}

td{
  border: 1px solid black;
  width: 400px; 
  padding: 5px
}
