h1 {;
  color:red;
}

body {
  font-family: 'Calibri';
  font-size: 14px;
  color: black;
}

table {
  border-spacing: 0px;
  border: 1px solid black;
  margin-left: 10px; 
  margin-right: 10px;
}

td {
  border: 1px solid black;
  width: 400px; 
  padding: 5px
}

thead {
  background-color:#DDD;
}